services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: workly
    ports:
      - "5432:5432"
    volumes:
      - psql-db:/var/lib/postgresql/data

volumes:
  psql-db:
